@charset "utf-8";
/* CSS Document */


/* generic styles start>>>>>>>>>>>>>> */
*{
  box-sizing: border-box;
  margin: 0px;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	line-height: 1.5;
}
/* generic styles end<<<<<<<<<<<<<<<<<<<<<<<< */

body, html{
  height: 100%;
  width: 100%;
}

body {
  font-size: 16px;
	background-color: #fdfdfd;
  position:relative;
  display: flex;
  flex-direction: column;
  /* overflow-y: auto; */
}

#header{
  width: 100%;
}

#maincontent {
  background-color: #f3f3f3;
  width: 100%;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 0.8em;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  min-height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

/* this is in the restaurant page and we will fix it later?????????? */
#breadcrumb {
    padding: 10px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  min-height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ===================Container for everthing except map in main================== */
#rest-container{
  display: flex;
  flex-flow: column;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  padding: 5px;
  width: 100%;
  background-color: #3397DB;
  align-items: center;
}
.filter-options>h2 {
  text-align: center;
  color: white;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}

/* ==================div containing both the selects==================== */
#filter-select{
  padding: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#filter-select select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1em;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  max-width: 200px;
  min-width: 100px;
}

#filter-select select:focus{
  outline: 2px solid tomato;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  width: 100%;

  /* flex-container part */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  background-color: #f3f3f3;
  list-style: outside none none;
  padding: 30px 10px;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  box-shadow: 0px 5px 5px #ccc;
  font-family: Arial,sans-serif;  

  min-height: 380px;
  min-width: 250px;

  /* flex-container part */
  display: flex;
  flex-flow: column nowrap;

  margin-bottom: 15px;
  padding: 10px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h1 {

  text-align: center;
  color: #f18200;
  font-family: Arial,sans-serif;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  text-align: center;
  margin: 0;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside header {
  width: 100%;
}

.inside .maincontent{
  width: 100%;
  background-color: #f3f3f3;
}

.inside #map-container {
  width: 100%;
  margin-bottom: 10px;
}
.inside #map {
  background-color: #ccc;
  width: 100%;
}
.inside #footer {
  width: 100%;
} 

/* ===================restaurant info part====================== */
#restaurant-and-review-container{
  display: flex;
  flex-flow: column nowrap;
}

#restaurant-container, #reviews-container{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  border: 2px solid #ccc;
  box-shadow: 0px 5px 5px #ccc;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  text-align: center;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
}
#restaurant-address {
  text-align: center;
  font-size: 12pt;
  margin: 10px 0px;
  width: 100%;
}

/* class for the location icon before address */
.location{
  font-size: inherit;
  padding-right: 10px;
  color: dodgerblue;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

/* style for restaurant timing table */
#restaurant-hours{
  width: 100%;
  /* max-width: 400px; */
  background-color: #fff;
  border: 2px solid #ccc;
  box-shadow: 0px 5px 5px #ccc;
}

#restaurant-hours td {
  text-align: center;
  color: #666;
}

#restaurant-hours tr:nth-child(even){
  background-color: white;
}

#restaurant-hours tr:nth-child(odd){
  background-color: lightgoldenrodyellow;
}

/* ====================review part for a restaurant================== */

#reviews-container h3 {
  color: #f58500;
  width: 100%;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  box-shadow: 0px 5px 5px #ccc;
  display: block;
  list-style-type: none;
  margin: 0 auto 15px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 100%;
}

/* style for the person icon */
.person{
  font-size: inherit;
  color: #f18200;
  padding-right: 10px;
}

.orange{
  color: #f18200;;
}

#reviews-list li p {
  margin: 0 0 10px;
}


/* ====================media queries================== */
@media screen and (min-width: 700px){
  #restaurants-list li{
    width: 300px;
    flex-grow: 1;
    max-width: 400px;

    margin-right: 10px;
  }

  #restaurant-and-review-container{
    flex-flow: row wrap;
  }

  #restaurant-container, #reviews-container{
    flex-basis: 300px;
    flex-grow: 1;
    margin-right: 10px;
  }
}